.line {
    background-color: black;
    width: 1px;
    height: 650px;
    margin-right: 8px;
}

.form_departament {
    display: flex;
}

.p_categories p {
    font-size: 1.2rem;
}

.div_categories {
    display: flex;
    column-gap: 1rem;
}

.div_ambients {
    width: 30%;
}

.div_ambients > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}