.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f6f8;
}

.card {
    padding: 2.5rem 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.7rem;
    color: #555;
    margin-bottom: 1.5rem;
}