.overlay {
    position: fixed;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.modal {
    margin-top: -150px;

    background-color: #ffffff;
    border-radius: 8px;

    width: 100%;
    max-width: 1000px;
    padding: 20px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
}

.close {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}